/* fonts */
@font-face {
    font-family: Harabara;
    src: url('../fonts/Harabara.otf');
}
@font-face {
    font-family: ColaborateThin;
    src: url('../fonts/ColabThi.otf');
}

body{
    margin: 0;
    background-image: url("../img/bg.png");
}

/* banner */

#banner{
    width: 100%;
    height: 80px;
    background-color: black;
    -webkit-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.85);
    box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.55);;
}

#bannerContainer{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

#logoContainer{
    width: 135px;
    height: 100%;
    background-image: url("../img/logo.png");
    float: left;
    position: relative;
}

#btnContainer{
    width: 1200px;
    height: 100%;
    float: right;
    position: relative;
}

#btn_info{
    width: 135px;
    height: 100%;
    background-image: url("../img/btn_info.png");
    float:right;
    position: relative;
    cursor: pointer;
}
#btn_contact{
    width: 135px;
    height: 100%;
    background-image: url("../img/btn_contact.png");
    float:right;
    position: relative;
    cursor: pointer;
}
#btn_algorithm{
    width: 135px;
    height: 100%;
    background-image: url("../img/btn_algorithm.png");
    float:right;
    position: relative;
    cursor: pointer;
}
#btn_patch{
    width: 135px;
    height: 100%;
    background-image: url("../img/btn_patch.png");
    float:right;
    position: relative;
    cursor: pointer;
}

/* grid */

#gridLimits{
    width: 1400px;
    height: 577px;
    margin: 0 auto;
}

/* input */
input[type=text] {
    background-color: rgba(0,0,0,0.0);
    color: white;
    border: none;
    height: 125px;
    width: auto;
    font-size: 72pt;
    font-family: 'Harabara', 'Roboto', 'Helvetica', sans-serif;
}

textarea{
    background-color: transparent;
    border: none;
    font-family: 'ColaborateThin', 'Roboto', sans-serif;
    color: white;
    width: 180px;
    height: 140px;
    padding: 10px;
    resize: none;
}
.sendButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
    background-color:#eae0c2;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    cursor:pointer;
    color:#505739;
    font-family:'ColaborateThin', 'Roboto', sans-serif;
    font-size:12px;
    width: 200px;
    height: 30px;
    text-decoration:none;
}
.sendButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
    background-color:#ccc2a6;
}
.sendButton:active {
    position:relative;
    top:1px;
}


/* canvas, contents */
#placeHolderDiv{
    width: 1190px;
    height: 445px;
    background-color: rgba(0,0,0, 0.6);
    position: relative;
    float: left;
    text-align: center;
    padding-top: 5px;
}
#graphContainer{
    width: 1160px;
    height: 100%;
    margin-left: 10px;
    // margin-top: 10px;
}

#canvas{
    width: 1110px;
    height: 420px;
}

/*score, contents */

#scoreContainer{
    margin-left: 10px;
    width: 200px;
    height: 450px;
    background-color: rgba(255,255,255, 0.3);
    position: relative;
    float: left;
}

#scoreHeader{
    width: auto;
    height: 55px;
    background-image: url("../img/scoreHeader.png");
}

#p2bScoreContainer{
    width: auto;
    height: 120px;
    background-color: rgba(255,255,255,0.4);
    line-height: 120px;
    text-align: center;
}

.bigScore{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: orange;
    font-size: 54pt;
    font-family: 'Harabara', 'Roboto', 'Helvetica', sans-serif;
}

.scoreDivider{
    width: auto;
    height: 15px;
    background-image: url("../img/img_scoreDiv.png");
}
.infoHolder{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.infoText{
    font-family: 'ColaborateThin', 'Roboto', sans-serif;
    color: white;
    font-size: 14pt;
}
.returnInfoText{
    font-family: 'ColaborateThin', 'Roboto', sans-serif;
    color: orange;
    font-size: 14pt;
}

/* game breakdowns */
#breakdownContainer{
    width: 1400px;
    height: 450px;
    margin: 1px auto;

}

#championBoxContainer{
    width: 1190px;
    height: 100%;
    position: relative;
    float: left;
}
.gameContainer{
    width: 118px;
    height: 100%;
    margin-left: 1px;
    float: left;
    position: relative;
}
.championBox{
    width: 118px;
    height: 118px;
    background-color: rgba(255,255,255,0.30);
}
.championBox:hover{
    width: 118px;
    height: 118px;
    background-color: rgba(255,255,255,0.50);
    cursor: pointer;
}
.breakdownPullout{
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}
.breakdownPullout:hover{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}
#projectionContainer{
    height: 380px;
    width: 200px;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.3);
    position: relative;
    float: left;
}
#projectionHeader{
    width: 200px;
    height: 55px;
    background-image: url("../img/img_projectionHeader.png");
}
#projectionContent{
    height: 100px;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
}

/* POPUPS */

#fadeDiv{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1001;
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
}

#contactDiv{
    margin: 0 auto;
    background-color: black;
    width: 400px;
    padding-right: 35px;
    height: 150px;
    position:fixed;
    left: 50%;
    top: 200px;
    margin-left: -200px;
    overflow: auto;
    z-index: 1002;
    padding: 10px;
    display: none;
    overflow-x: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    border-radius: 3px;
}

#patchDiv{
    margin: 0 auto;
    background-color: black;
    width: 400px;
    padding-right: 35px;
    height: 150px;
    position:fixed;
    left: 50%;
    top: 200px;
    margin-left: -200px;
    overflow: auto;
    z-index: 1002;
    padding: 10px;
    display: none;
    overflow-x: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    border-radius: 3px;
}

#noSummoner{
    margin: 0 auto;
    background-color: black;
    width: 400px;
    padding-right: 35px;
    height: 150px;
    position:fixed;
    left: 50%;
    top: 200px;
    margin-left: -200px;
    overflow: auto;
    z-index: 1002;
    padding: 10px;
    display: none;
    overflow-x: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    border-radius: 3px;
}

#noGamesDiv{
    margin: 0 auto;
    background-color: black;
    width: 400px;
    padding-right: 35px;
    height: 150px;
    position:fixed;
    left: 50%;
    top: 200px;
    margin-left: -200px;
    overflow: auto;
    z-index: 1002;
    padding: 10px;
    display: none;
    overflow-x: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 20px 2px rgba(255,255,255,0.2);
    border-radius: 3px;
}